.swirlsize{
    height: 200px;
    width: 200px;
}
body {
    font-family: 'Atomic Age', cursive;
    color: black !important; 
}
.black{
    display: inline;
    background-color: black;
}
.btn:hover {
    background-color: black;
    color: white;
  }
.colordrop:hover {
    color: white;
}
.dropdown-menu {
    width: 700px !important;
}
.instru{
    background-color: rgba(145, 96, 17);
    color: black; 
}
.colordrop{
    color: black !important; 
}